<form #addBookForm="ngForm" (ngSubmit)="addBook();addBookForm.reset()">
  <div>
    <label>Title</label>
    <input type="text" name="title" [(ngModel)]="newBook.title" required minlength="4" #title="ngModel">
    <div *ngIf="title.invalid && (title.touched || title.dirty)">
      <div *ngIf="title.errors.required" class="error">
        Title is required
      </div>
      <div *ngIf="title.errors.minlength" class="error">
        Minmum 4 chars
      </div>
    </div>
  </div>
  <div>
    <label>Auhtor</label>
    <input type="text" name="author" [(ngModel)]="newBook.author" required #author="ngModel">
    <div *ngIf="author.invalid && (author.touched || author.dirty)">
      <div *ngIf="author.errors.required" class="error">
        Author is required
      </div>
    </div>
  </div>
  <div>
    <label>Price</label>
    <input type="text" name="price" [(ngModel)]="newBook.price" required>
  </div>
  <div>
    <label>Rating</label>
    <select name="rating" [(ngModel)]="newBook.rating" required #rating="ngModel">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <div *ngIf="rating.touched || rating.dirty">
        <div *ngIf="ratingError" class="error">
          If price > 50, rating has to be > 3
        </div>
      </div>
  </div>
  
  <button [disabled]="addBookForm.invalid" type="submit">Save</button>
</form>

{{ newBook | json }}

{{ addBookForm.valid }}

{{ title.valid }}
{{ title.errors | json }}

<br />